/* .container {
  padding-bottom: 61px;
} */
.header {
  padding: 22px 60px 40px 61px;
}
.horizontalLine {
  width: auto;
  height: 1px;
  margin-top: 20px;
  background: rgba(229, 229, 230, 0.5);
}
.subheading {
  color: var(--Background---F2F2F2, #f2f2f2);
  text-align: right;

  /* Heading 5 */
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 30px */
}

.flex {
  display: flex;
  padding: 0 0 61px 60px;
}
.logo {
  align-self: flex-end;
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
