.card {
  width: 353px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  background: #fff;

  /* ShadowDropdown */
  box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
.cardHeader {
  display: flex;
  margin-bottom: 20px;
  gap: 8px;
}
.name {
  color: var(--grey-900, #19191a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.2px;
}
.jobTitle {
  color: var(--grey-400, #96979a);

  /* Caption */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.6px;
}
testimonialText {
  color: var(--text-5, #1d2129);

  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
}
