.container {
  display: flex;

  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    display: block;
  }
}
@media (min-width: 1500px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 1440px;
    /* height: 100vh; */
  }
}
